.pcm-div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px 10px;
  /* grid-template-columns: repeat(3, 1fr); */
  /* grid-column-gap: 10px;
  grid-row-gap: 20px; */
}
