.card-div {
  border: 1px solid var(--main-dark);
  background: #fff;
  height: 400px;
  display: grid;
}

.card-img {
  width: 100%;
}

.card-desc {
  color: var(--main-dark);
  overflow: scroll;
  margin: 0;
  padding: 5%;
}

.card-desc::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
