.card-div {
  border: 1px solid var(--main-dark);
  background: #fff;
  width: 300px;
  display: grid;
  flex-grow: 1;
  flex-basis: auto;
  /* grid-template-rows: 1fr 1fr; */
}

.card-img {
  max-width: 100%;
}

.card-desc {
  color: var(--main-dark);
  overflow: scroll;
  margin: 0;
  padding: 0% 5%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  line-height: 150%;
  height: 200px;
}

.card-desc::-webkit-scrollbar {
  display: none;
}
