/* Whole-app code. */
a {
  color: var(--main-dark);
  font-weight: bold;
}

.App {
  padding: 5%;
  color: var(--main-dark);
  min-height: 100%;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 2rem;
  margin: auto;
}

.nav-item {
  text-decoration: none;
  color: var(--main-dark);
  font-size: 1.5rem;
}

/* Code for home.js. */
.home-title {
  font-size: 5em;
  text-indent: 20%;
  padding: 10% 0%;
}

.descriptor:hover {
  cursor: pointer;
}

/* Code for about.js. */
.about-container {
  width: 90vw;
}

.about-desc {
  width: 730px;
  line-height: 200%;
}

/* Code for projects.js. */
