/* Whole-app code. */
a {
  color: var(--main-dark);
  font-weight: bold;
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;
}

a:hover {
  background-position: -99.99% 0;
}

.first-hov {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-one) 50%
  );
}

.second-hov {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-two) 50%
  );
}

.third-hov {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-three) 50%
  );
}

.fourth-hov {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-four) 50%
  );
}

.App {
  padding: 5%;
  color: var(--main-dark);
  min-height: 100%;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  gap: 2rem;
  margin: auto;
}

.nav-item {
  text-decoration: none;
  color: var(--main-dark);
  font-size: 1.5rem;
}

/* Code for home.js. */
.home-title {
  font-size: 5rem;
  text-indent: 20%;
  padding: 10% 0%;
}

.descriptor {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 50%,
    var(--accent-two) 50%
  );
  background-position: -0% 0;
  background-size: 200% auto;
  transition: background-position 0.5s ease-out;
  text-decoration: underline;
}

.descriptor:hover {
  cursor: pointer;
  background-position: -99.99% 0;
}

/* Code for about.js. */
.about-main {
  width: 100%;
  line-height: 200%;
  grid-area: text;
}

.about-div {
  display: grid;
  grid-template-areas: "text text whitespace";
  grid-template-columns: 1fr 1fr 1fr;
}

/* Code for projects.js. */

/* Code for media queries. */

@media screen and (max-width: 800px) {
  .about-div {
    grid-template-areas: "text text text";
  }
  .home-title {
    font-size: 4rem;
  }
}

@media screen and (max-width: 325px) {
  .about-div {
    grid-template-areas: "text text text";
  }
  .home-title {
    font-size: 3rem;
  }
  .nav-item {
    font-size: 1rem;
  }
}
